body { background: #468dfe; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 30px; display: flex; }
.block-validator-0 { color: #35e427; font-size: 20px; margin-bottom: 5px; }
.block-sms-1 { color: #fabe4e; font-size: 12px; margin-bottom: 5px; }
.block-helper-2 { color: #3582c0; font-size: 21px; margin-bottom: 5px; }
.block-token-3 { color: #fa9fcf; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #a60900; font-size: 17px; margin-bottom: 5px; }
.block-order-5 { color: #6c35cd; font-size: 21px; margin-bottom: 5px; }
.block-cart-6 { color: #333f6d; font-size: 17px; margin-bottom: 5px; }
.block-helper-7 { color: #9fd302; font-size: 17px; margin-bottom: 5px; }